body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ttl {
  font-size: 3rem;
}

.container {
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: aliceblue;
  position: relative;
}

.txt {
  font-size: 2rem;
}

.sh-txt {
  font-size: 1.4rem;
  color: brown;
}
.show {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.input_section {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  padding: 5px 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.3rem;
}

.status {
  color: darkblue;
}

.scre {
  color: black;
}

.reload{
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  margin-top: 10px;
  visibility: hidden;
  position: absolute;
  left: 17%;
  top: 50%;
  font-size: 2rem;
}

.doc{
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding: 0 20px;
  box-sizing: border-box;
}
.game{
  margin-top: 20px;
  margin-bottom: 30px;
}